.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(121, 113, 117, 0.25);
    
}

.navMenu{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    color: rgb(40, 40, 40);
    font-size: 18px;
}


.rightNav{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
    padding-right: 20px;
    
}

.rightNav button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    outline: none;
   background: linear-gradient(90deg, #f7a47b, #f7a9aa,#f9696b);

    border: none;
    font-size: 15px;
    font-weight: bolder;
}

.rightNav button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.navCartCount{
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -32px;
    margin-left: -48px;
    font-size: 12px;
    color: white;
    background-color: #f9696b;
    border-radius: 50%;
}
