@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  
}