@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: linear-gradient(180deg, #e3f2fd, #ffffff);
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  

  
}

body.dark {
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
}