.item{
    width: 350px;

}

.item p{
    margin: 6px 0px;
}

.itemPrice{
    display: flex;
    gap: 20px;
}

.newPrice{
    color: green;
    font-size: 15px;
}

.oldPrice{
    color: blue;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: line-through;
}

.item:hover{
    transform:scale(1.1);
    transition: 0.6s;
}