@import url('https://fonts.googleapis.com/css2?family=Acme&family=Libertinus+Serif+Display&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    
}

body {
  
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;

}

/* Navbar Link Style Override */
.navbar .menu ul li a {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}
.navbar .menu ul li a:hover {
  color: #FFD54F !important;
}
